NODE_ENV=production # development o production
PORT = 3001 # puerto en el que se ejecutará el servidor 

DATABASE_URL="TU_URL_DE_LA_BASE_DE_DATOS" # URL de conexión a la base de datos PostgreSQL


KUNNA_ENDPOINT_API="https://api.kunna.io/" # URL base de la API de Kunna


# Tokens de acceso a las colecciones de Kunna 
KUNNA_API_TOKEN_WATER="TU_TOKEN_DE_ACCESO_A_LA_COLECCION_DE_AGUA"
KUNNA_API_TOKEN_ENERGY="TU_TOKEN_DE_ACCESO_A_LA_COLECCION_DE_ENERGIA"
KUNNA_API_TOKEN_WEATHER="TU_TOKEN_DE_ACCESO_A_LA_COLECCION_DE_CLIMA"
KUNNA_API_TOKEN_SENSOTRAN="TU_TOKEN_DE_ACCESO_A_LA_COLECCION_DE_SENSOTRAN"
KUNNA_API_TOKEN_ROOMSENSORS="TU_TOKEN_DE_ACCESO_A_LA_COLECCION_DE_SENSORES_DE_HABITACION"
KUNNA_API_TOKEN_LIGHT="TU_TOKEN_DE_ACCESO_A_LA_COLECCION_DE_LUZ"
KUNNA_API_TOKEN_FV="TU_TOKEN_DE_ACCESO_A_LA_COLECCION_DE_FV"
KUNNA_API_TOKEN_IRRIGATION="TU_TOKEN_DE_ACCESO_A_LA_COLECCION_DE_RIEGO"
KUNNA_API_TOKEN_BIBLIOTECAINDOORAMBIENTAL="TU_TOKEN_DE_ACCESO_A_LA_COLECCION_DE_BIBLIOTECAINDOORAMBIENTAL"
KUNNA_API_TOKEN_WIFI="TU_TOKEN_DE_ACCESO_A_LA_COLECCION_DE_WIFI"
KUNNA_API_TOKEN_GVA_WEATHER="TU_TOKEN_DE_ACCESO_A_LA_COLECCION_DE_GVA_WEATHER   "
